[user]
    name = khigasa
    email = kojihigasa@gmail.com
	signingkey = BAE53F7DBC4C919CF5CDAE496E589EC872C670FE

[alias]
    st = status
    al = add -A
    cm = commit -m
    p = push
    co = checkout

[ghq]
	root = /home/khigasa/src
[gpg]
	program = gpg2
